h3 {
    text-align: center;
    background: #888;
    color: #fff;
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #555;
}
.card_name {
    display: flex;
    align-items: center;
}
.card_name input{
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
.container {
    max-width: 960px;
    width: 80%;
    margin: auto;
    padding: 0px 0px 350px 0px;
    display: flex;
    flex-wrap: wrap;
}
.table-container {
    flex: 1;
    max-width: 30%;
    min-width: 300px;
    border-collapse: collapse;
    margin: 0.1em;
    border: 3px solid #555;
}
.content-table {
    border-collapse: collapse;
    width: 100%;
}
.content-table th,
.content-table td {
    padding: 4px;
    border: 1px solid #ddd;
}
.content-table th {
    background-color: #f2f2f2;
}
.nb_card{
    width: 30px;
    display: block;
    margin: 0 auto;
    border: 1px solid #888;
    background-color: #fff;
    box-sizing: border-box;
}
.suggestions {
    width: 302px;
    position: absolute;
    top: 100%;
    margin-top: 20px; /* 20px en dessous de l'input */
    border: solid 3px #000;
    z-index: 10;
    max-height: 320px;
    overflow-y: auto;
    background-color: #fff; /* Optionnel : pour avoir un fond blanc */
    display: none; /* Caché par défaut */
}

.suggestion {
    padding: 5px;
    cursor: pointer;

    border: solid 1px #000;
}

.suggestion:hover {
    background-color: #f0f0f0;
}
.num_total{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0 10px;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
}